<div fxLayoutAlign="center center" fxFlexFill class="maindiv">
  <mat-card fxFlex="25">
      <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="loginForm">
            <mat-form-field>
              <input matInput formControlName="userName" placeholder="Username"> 
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="password" type="password" placeholder="Password">
              </mat-form-field>
              <button mat-raised-button (click)="ValidateUser()">Login</button>
          </form>
    </mat-card>
</div>
