
<mat-toolbar>
    Sample App
    </mat-toolbar>
    
    <mat-sidenav-container>
        <mat-sidenav class="mat-elevation-z8">
            <!-- <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" /> -->
            <img class="avatar mat-elevation-z8" src="../../../assets/user1.jpg" />

            <h4 class="name">Nirav Joshi</h4>
            <p class="designation">Software Engineer</p>

            <mat-divider></mat-divider>
            <button mat-button class="menu-button" [routerLink]="'/Home/products'">
                <mat-icon>home</mat-icon>
                <span>Products</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="'/Home/employee/'">
                <mat-icon>person</mat-icon>
                <span>Employee</span>
            </button>
            <button mat-button class="menu-button">
                <mat-icon>info</mat-icon>
                <span>About</span>
            </button>
    
            <mat-divider></mat-divider>
    
            <button mat-button class="menu-button" (click)="logOut()">
                <mat-icon>help</mat-icon>
                <span>Log Out</span>
            </button>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>